@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Cuerpo de la pagina */

/* header */
body {
  margin: 0;
  padding: 0;
  height: 1920;
  width: 1080;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 140px;
  background-color: #232323;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 120px;
}

header .botones-header {
  margin-right: 120px;
}

.botones-header button {
  margin-left: 50px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

footer {
  height: 100px;
  background-color: #232323;

}

/*Termina Header/Footer*/





/*Pantalla de bienvenida*/
.bienvenida {
  height: 945px;
  background-color: #232323;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.bienvenida img {
  height: 320px;
  width: 970px;
}

.bienvenida a button {
  background-color: #00C203;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  border-color: transparent;
  height: 40px;
}

.bienvenida a {
  text-decoration: none;
}

.bienvenida a button:hover {
  background-color: #1c721c;
}

.bienvenida h3 {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

/*Termina pantalla de bienvenida*/





/* Menu Principal */
.cuerpo {
  background-image: url(./assets//images/fondo-menu-principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(34, 48, 33, 0.658);
  align-content: center;
  color: white;
  width: 88%;
  height: 80%;
}

.parrafo-menu {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.parrafo-menu h1 {
  font-size: 60px;
  font-weight: bolder;
}

.parrafo-menu p {
  font-weight: bold;
  font-size: 32px;
}


.ecosistema,
.animales,
.plantas,
.agua {
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  height: 480px;
}

.ecosistema h2,
.animales h2,
.plantas h2,
.agua h2 {
  font-size: 34px;
  font-weight: bold;
}

.ecosistema img,
.animales img,
.plantas img,
.agua img {
  margin: 10px;
  height: 250px;
  width: 250px;
}


.ecosistema button:hover,
.animales button:hover,
.plantas button:hover,
.agua button:hover {
  background-color: #182918;
}





/*Pantalla Ayuda*/
.cuerpo-ayuda {
  background-image: url(assets/images/fondo-menu-principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-ayuda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(34, 48, 33, 0.658);
  align-content: center;
  color: white;
  width: 88%;
  height: 80%;
}

.parrafo-ayuda{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.parrafo-ayuda h1 {
  font-size: 60px;
  font-weight: bolder;
}

.parrafo-ayuda h2{
  font-size: 55px;
  font-weight: bold;
}


/*Termina pantalla de Bienvenida*/




/*Pantalla Felicitaciones-ciclo-del-agua*/
.cuerpo-agua-felicitacion {
  background-image: url(assets/images/fondo-ciclo-del-agua.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-felicitaciones {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 150px 400px 150px 400px;
}

.parrafo-felicitacion {
  color: #00C203;
  margin-bottom: 60px;
}

.botones-felicitacion {
  display: flex;
  justify-content: center;
  gap: 140px;
}

.botones-felicitacion button {
  background-color: #00C203;
  border-color: transparent;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.botones-felicitacion button:hover {
  background-color: #3e833f;
}

/*Termina Pantalla felicitaciones*/





/*Pantalla de Admin*/
.admin-body {
  background-color: #232323
}

.users-content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 50px;
}

.container-users {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  height: 650px;
  padding: 50px;
}

.container-container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(43, 51, 43, 0.8);
  border-radius: 10px;
  overflow-x: auto;
  max-height: 465px;
  width: 1200px;
  color: white;
  padding: 50px
}

.edit-response {
  font-size: 14px;
}

.container-container-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 100px;
  border-radius: 10px;
  background-color: rgba(43, 51, 43, 0.8);
  color: white;
}

.users-content h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: rgba(43, 51, 43, 0.8);
  color: white;

}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
}

table th {
  background-color: rgba(43, 51, 43, 0.8);
  border-radius: 10px;
}

.edit,
.delete {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  gap: 4px;
}

.edit {
  background-color: #00b4d8;
  color: white;
}

.delete {
  background-color: #d90429;
  color: white;
}

.container-container-edit button {
  background-color: #00C203;
  border-color: transparent;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
}

.container-container-edit button:hover {
  background-color: #368f37;
}

.editForm {
  display: flex;
  flex-direction: column;
  color: #000;
}

.editForm input {
  padding: 10px;
  margin: 5px;
}


/*Termina la Pantalla de Usuarios*/



/*Pantalla Menu Ecosistema*/

.cuerpo-ecosistema {
  background-image: url(assets/images/Fondo-Ecosistema.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  font-family: 'Poppins', sans-serif;
}

.volver-menu {
  margin-bottom: 100px;
  margin-left: 300px;
}

.volver-menu button {
  background-color: #232323;
  font-weight: 600;
  color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-top: 100px;
}

.volver-menu button:hover {
  background-color: #797878;
}

.opciones-menu-ecosistema {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
}

.E-1,
.E-2,
.E-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 51, 43, 0.8);
  height: 400px;
  width: 300px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.E-1:hover,
.E-2:hover,
.E-3:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.progress-container {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.progress-bar {
  height: 20px;
  background-color: #4caf50;
  width: 0;
  transition: width 0.3s ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
}

/*Termina pantalla de menu-Ecosistema*/



/*Pantalla menu-Animales*/
.cuerpo-animales {
  background-image: url(assets/images/Fondo-animales.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  margin-top: 0;
}

/*Termina pantalla menu-animales*/

/*Pantalla menu-plantas*/
.cuerpo-plantas {
  background-image: url(assets/images/Fondo-plantas.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  margin-top: 0;
}

/*Termina pantalla menu-plantas*/

/*Pantalla menu-cicloagua*/
.cuerpo-ciclo-agua {
  background-image: url(assets/images/fondo-ciclo-del-agua.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  margin-top: 0;
}

/*Termina pantalla menu-cicloagua*/


/* Pantalla de preguntas de Ecosistema */
.pregunta-ecosistema{
  padding-top: 95px;
}

.contenedor-preguntas {
  text-align: center;
  align-content: center;
  background-color: rgba(34, 48, 33, 0.658);
  margin-bottom: 75px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 25px;
}

.titulo,
.contador,
.concepto {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.concepto {
  margin-left: 200px;
  margin-right: 200px;
}

.contenedor-preguntas h1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.respuestas {
  margin-left: 200px;
  margin-right: 200px;
}

.grupo-1,
.grupo-2 {
  display: flex;
  gap: 40px;
  margin: 25px;

}

.respuesta-1,
.respuesta-2,
.respuesta-3,
.respuesta-4 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: rgba(43, 51, 43, 0.8);
  margin: 25px;
  text-align: center;
  border-radius: 25px;
  width: 500px;
  padding: 10px;
  align-content: center;
}

.contenedor-preguntas button {
  font-size: 20px;
  color: white;
  background-color: #83C200;
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  cursor: pointer;
}

.contenedor-preguntas button:hover {
  background-color: #83C200;

}

/* Termina pantalla pregunta */

/*pantalla de login*/
.login-body {
  background-color: #232323;
}

.login {
  height: 945px;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.login-1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 500px;
  width: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-1 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 60px;
}

.login-1 input {
  margin-left: 40px;
  margin-right: 40px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
  padding-left: 10px;
}

.login-response {
  text-decoration: none;
  font-size: 12px;
  color: black;
  margin-left: 40px;
  margin-right: 20px;
}

.login-1 a {
  text-decoration: none;
  color: black;
}

.login-1 a:hover {
  color: #00C203;
}

.login-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  height: 500px;
  width: 400px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-1 button {
  background-color: #00C203;
  border-color: transparent;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 40px;
}

.login-1 button:hover {
  background-color: #368f37;
}



/* Termina pantalla de login */

/* PANTALLA DE REGISTRO */
.register-1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 500px;
  width: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.register-1 a {
  text-decoration: none;
  color: black;
  margin-left: 40px;
  margin-right: 20px;
}

.register-1 a:hover {
  color: #00C203;
}

.register-1 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 30px;
}

.register-1 input {
  margin-left: 40px;
  margin-right: 40px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 10px;
}

.register-1 button {
  background-color: #00C203;
  border-color: transparent;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 40px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 40px;
}

.register-1 button:hover {
  background-color: #368f37;
}

/* 
TERMINA REGISTRO */


/*Felicitacion Ecosistema*/
.cuerpo-Ecosistema-felicitacion {
  background-image: url(assets/images/Fondo-Ecosistema.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuerpo-plantas-felicitacion {
  background-image: url(assets/images/Fondo-plantas.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cuerpo-animales-felicitacion {
  background-image: url(assets/images/Fondo-animales.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Bibliografia*/

.libros {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 480px;
}

.libros h2 {
  font-size: 32px;
  font-weight: bold;
}

.libros img {
  margin-left: 50px;
  margin-right: 50px;
  height: 350px;
  width: 300px;
  cursor: pointer;
}